NODE_ENV=development
PORT=5011
API_VERSION=v1
DB_HOST=localhost
DB_PORT=5432
DB_NAME=event-wedding-planning_db
DB_USER=postgres
DB_PASSWORD=your_password
JWT_SECRET=your-jwt-secret-event-wedding-planning
JWT_EXPIRES_IN=24h
CORS_ORIGIN=http://localhost:3000
LOG_LEVEL=info
